<div class="jumbotron" ng-controller="MainCtrl">

<div ng-show="!answer">
  <h1>Gym time?</h1>
  </br>

<div class="row">
  <div class="col-md-4">

    <div class="control-group">
      <select multiple class="span3" ng-model="campusOption" ng-change="saveCampus()">
        <option>Busch</option>
	<option>College Ave</option> 
	<option>Easton Avenue</option>
	<option>Livingston</option>
	<option>Cook/Douglas</option>
		
      </select>
    </div>

  </div>

  <div class="col-md-4">

    <div class="control-group">
      <select multiple class="span3" ng-model="sportOption" ng-change="saveSport()">
        <option ng-repeat="option in sportOpt">{{option}}</option>
		
      </select>
    </div>


  </div>
  <div class="col-md-4">


    <div class="control-group">
      <select multiple class="span3">
       <option>Third option</option>
		
      </select>
    </div>



  </div>
</div>

</br>

  <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="timeCheck()">Check if it is open.</button>
  
  <hr>

</div>





  <div class="alert alert-danger" role="alert" ng-show="answer">

   <h3> {{check}} {{hurry}}</h3>{{test}}

   
  </div>

</div>

